/JavaFXTest/nbproject/private/
/JavaFXTest/build/
/JavaFXTest/dist/
/ModuleProject/nbproject/private/
/ModuleProject/build/
/TestModule/nbproject/private/
/ModuleProjectTest/nbproject/private/
/ModuleProject/dist/
/ModuleProjectTest/build/
/ModuleProjectTest/dist/
/JavaFXModuleTest/nbproject/private/
/JavaFXModuleTest/build/
/JavaFXModuleTest/dist/
